package template

templ HomeIndex() {
@App() {
<div>Welcome back, { user(ctx).Name }</div>
<button class="btn btn-primary" hx-post="/auth/logout">Logout <i class="fa fa-right-from-bracket"></i></button>
<script type="module">
  import {logout} from "/public/auth.js"

  document.querySelector("button").addEventListener("click", () => {
    //  WARN: Am I certain this will always be called ? because of the hx-post
    logout()
  })
</script>
}
}
